@{
  ViewData["Title"] = "Отделы";
}

<div class="errorBlock">
  <span class="errorBlock_text">Плохи дела, ой плохи, случилось: @ViewBag.ErrorCode</span>
  <a class="errorBlock_link" href="/">--> Вернуться на главную <-- </a>
</div>
